SFUI
SFML
SFWS

/SFUI-Whorehouse/bin
/SFUI-Whorehouse/latest_launcher.exe
/SFUI-Whorehouse/kunlauncher.exe
/SFUI-Whorehouse/kunlaucher.exe.old
/SFUI-Whorehouse/build

/appmanager/build
/appmanager/appmanagerbin
